fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--content-bg);
  border: 2px solid var(--border-color); 
  color: var(--text-color);
  padding: 15px; 
  margin: 10px; 
}

.form {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
