:root {
  --dark-bg: #1b2a41;
  --light-bg: #324a5f;
  --content-bg: #102542;
  --text-color: #e5e9f0;
  --border-color: #4f7c94;

  --primary-color: #3E78B2;
  --secondary-color: #33658A;

  --dark-red-btn: #bd1f36;
  --light-red-btn: #d80032;

  --dark-green-btn: #2c6e49;
  --light-green-btn: #4c956c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--dark-bg);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  padding: 20px;
  background-color: var(--light-bg);
  border-radius: 8px;
}

.column {
  display: inherit;
  flex: 1;
  flex-wrap: wrap;
}
.column2 {
  display: inherit;
  width: 300px;
  margin: 15px 0;
  flex-direction: column;
  justify-content: space-around;
}


p {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

button {
  display: flex;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0.2s;
}

button:hover {
  background-color: var(--primary-color);
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
  margin: 5px 0;
  color: var(--text-color);
}

 input {
  flex: 1;
  align-items: flex-end;
  padding: 8px;
  margin: 5px 0 5px 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: var(--light-bg);
  color: var(--text-color);
  font-size: 19px;
}

input:focus {
  border-color: var(--primary-color);
  outline: none;
}


